* {
    margin: 0;
    padding: 0;
}

html,
body,
.container {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="file"] {
    display: none;
}

.button {
    background: #1abc9c;
    color: #fff;
    float: right;
    margin: 10px 10px 10px 0px;
    padding: 13px 18px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
}

.button:hover {
    background: #18ac8e;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    background: #f6f6f6;
}

.container #header {
    height: 60px;
    min-height: 60px;

    background: #34495e;
    z-index: 2;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;

    display: flex;
    flex-flow: row;
}

.container #canvas {
    order: 1;
    flex: 1 1 auto;
    align-self: stretch;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #bbb;
    font-size: 30px;
}

.container #canvas canvas {
    max-width: 75%;
    max-height: 75%;
    margin: 0 auto;
    display: block;
    align-self: center;
}

#cell-size {
    width: 60%;
    margin: 28px;
    flex: 1;
}

.cell-size-value-wrapper {
    font-size: 13px;
    color: #fff;
    line-height: 60px;
    padding: 0 15px;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
    background: #fff;
    border-radius: 25px;
    border: 0px solid transparent;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
    border: 0px solid transparent;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: #1abc9c;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #fff;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
    background: #fff;
    border-radius: 25px;
    border: 0px solid transparent;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
    border: 0px solid transparent;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: #1abc9c;
    cursor: pointer;
    margin-top: -6px;
}

.loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
    line-height: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    display: none;
}